<ul>
  <li>nombre: <%= @student.nombre %></li>
  <li>correo: <%= @student.correo %></li>
  <li>fecha_nacimiento: <%= @student.fecha_nacimiento %></li>
  <li>programa: <%= @student.programa%></li>

</ul>
